<p id="notice"><%= notice %></p>

<h1>学年ごとの漢字</h1>

<div class="wrapper">
  <% @years.each do |year| %>
    <% if year.year != 0 %>
      <div>
        <b class="kanji"><%= link_to "#{year.year}年生", year %></b>
        <b class=""><%= link_to "PDFを表示", pdf_year_path(id: year.id, format: "pdf")%></b>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<h4>PDFが毎回順番の違うテストになってるよ</h4>
<h4>You will see Kanjies with diffrent order on each time you open the PDF.</h4>
